<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>

  <% if (user) { %>
    <p>Logged in as: <%= user.name %> (<%= user.email %>)</p>
    <p>Role: <%= user.role %></p>
    <p>Provider: <%= user.provider %></p>

    <button id="logout-btn" type="button">Logout</button>
    <script src="/js/logout.js" defer></script>
  <% } else { %>
    <p>You are not logged in.</p>
    <p><a href="/login">Go to login</a></p>
  <% } %>
</body>
</html>
