<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title || 'App' %></title>
</head>
<body>

<header>
  <h1><%= pageTitle || '' %></h1>

  <nav>
    <a href="/">Home</a> |
    <a href="/me">My Account</a>
  </nav>

  <hr>
</header>
